# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/src/com/jydp/test/BaseJunit4Test.java
/src/com/jydp/test/RedisTest.java
