.helpCenter{
    float: left;
    margin-top: 20px;
    width: 170px;
    background-color: #ffffff;
}
.levelTwo{
    display: block !important;
}
.menuInfo{
    float: left;
    width: 168px;
    height: 40px;
    line-height: 40px;
}
.contentRight{
    padding: 10px;
    width: 998px !important;
}
.contentRight img{
    max-width: 100%;
}