.list{
    float: left;
    width: 1020px;
    margin-bottom: 10px;
}
.notice{
    position: relative;
    float: left;
    margin:10px 0 0 10px;
    width: 242px;
    height: 242px;
    cursor: pointer;
}
.notice:hover{
    -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}
.noticeImg{
    width: 242px;
    height: 242px;
    object-fit: cover;
}
.noticeInfo{
    position: absolute;
    bottom: 0;
    left:0;
    width: 242px;
    height: 50px;
    background-color: rgba(0,0,0,0.4);
}
.noticeTitle{
    float: left;
    margin: 5px 10px 0 5px;
    width: 227px;
    color: #ffffff;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.time{
    margin-left: 10px;
    color: #ececec;
    font-size: 12px;
}