.time{
    width: 180px;
}
.type{
    width: 135px;
}
.pay{
    color: #ff9a3b;
}
.source{
    width: 160px;
}
.money{
    width: 200px;
}
.mark{
    width: 275px;
}
.pay{
    color: #4dac7b;
}
.in{
    color: #e83a33;
}