.order{
    width: 170px;
}
.coin{
    width: 100px;
}
.type{
    width: 90px;
}
.amount{
    width: 180px;
}
.deal{
    width: 241px;
}
.tableInfo .deal,.tableInfo .amount{
    text-align: left;
}
.deal p{
    line-height: 20px;
}
.in{
    color: #e83a33;
}
.pay{
    color: #4dac7b;
}
.back{
    color: #68adfa;
}
.time{
    width: 160px;
}