.time{
    width: 150px;
}
.coin{
    width: 131px;
}
.type{
    width: 80px;
}
.pay{
    color: #4dac7b;
}
.in{
    color: #e83a33;
}
.amount{
    width: 180px;
}
.tableInfo .amount{
    text-align: left;
}
.amount p{
    line-height: 20px;
}
.state{
    width: 80px;
}
.operate{
    width: 130px;
}
.revoke{
    width: 55px;
    text-align: center;
    font-size: 13px;
    color: #e83a33;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.revoke:hover{
    color: #d0342e;
}
.details{
    color: #68adfa;
    font-size: 13px;
    cursor: pointer;
}
.details:hover{
    color: #52a1f9;
}