<?xml version="1.0" encoding="UTF-8"?>     
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
           http://www.springframework.org/schema/mvc  
      	   http://www.springframework.org/schema/mvc/spring-mvc.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 拦截器 -->
	<mvc:interceptors>
		<!-- 后台管理员拦截器(WEB端访问) -->
        <mvc:interceptor>
            <mvc:mapping path="/backerWeb/**/*.htm"/>
            <bean class="com.jydp.interceptor.BackerWebInterceptor"></bean>
        </mvc:interceptor>

        <!--用户WEB拦截器(WEB端访问)-->
        <mvc:interceptor>
            <mvc:mapping path="/userWeb/**/*.htm"/>
            <bean class="com.jydp.interceptor.UserWebInterceptor"></bean>
        </mvc:interceptor>

        <!--用户WAP拦截器(WAP端访问)-->
        <mvc:interceptor>
            <mvc:mapping path="/userWap/**/*.htm"/>
            <bean class="com.jydp.interceptor.UserWapInterceptor"></bean>
        </mvc:interceptor>
 	</mvc:interceptors>
	
</beans>