/*通用样式*/
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td
{margin: 0; padding: 0; border: 0; outline: none;}
ul, ol{list-style: none;}
a{color: black;text-decoration: none;}
a:hover {text-decoration: none;}
a {border: none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;outline: none;}
html{font-family: "黑体",Arial;}


.clear{
    clear: both
}
/* 头部header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.9rem;
    background: #fff;
    border-bottom: 1px solid #ececec;
    z-index: 99;
}
header img{
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
    width: 0.34rem;
    height: 0.3rem;
}
header p{

    width: 100%;
    height: 0.9rem;
    line-height: 0.9rem;
    font-size: 0.32rem;
    color: #000;
    text-align: center;
}
header a{
    width: 1.5rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    right: 0.3rem;
    top: 0;
    height: 0.9rem;
    line-height: 0.9rem;
    font-size: 0.28rem;
    color: #666;
}
/* 底部tabBar */
footer{
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0.98rem;
    background: #fff;
    justify-content: center;
    align-items: center;
    box-shadow:0px -4px 2px #fcfcfc;
}
footer a{
    padding-top: 0.1rem;
    flex: 1; 
    height: 0.88rem;
}
footer a img{
    display: block;
    margin: 0 auto;
}
footer p{
    margin-top: 0.1rem;
    width: 100%;
    text-align: center;
    font-size: 0.22rem;
    color: #999;
}
.home-icon{
    width: 0.44rem;
    height: 0.41rem;
}
.deal-icon{
    width: 0.42rem;
    height: 0.42rem;
}
.mine-icon{
    width: 0.36rem;
    height: 0.41rem;
}
footer dl dd{
    margin-top: 0.1rem;
    font-size: 0.22rem;
    color: #333;
    text-align: center;
}
.chose{
    color: #e83a33;
}