
/* 头部价格 */
.nav{
    position: fixed;
    top: 0.92rem;
    left: 0;
    width: 100%;
    padding: 0rem 0 0.2rem 0 ;
    border-bottom:1px solid #ececec;
    background: #fff;
    z-index: 99;
}
.nav-top{
    margin-top: 0.2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
.topLeft{
    float: left;
    font-size: 0.34rem;
    color: #e83a33;
}
.topRight{
    position: relative;
    width: 1.3rem;
    height: 0.46rem;
    text-align: center;
    background: #68adfa;
    border-radius: 1rem;
    float: right;
    font-size: 0.24rem;
    color: #fff;
}

.topRight span{
    position: absolute;
    top: 0.065rem;
    left: 0.6rem;


}
.topRight img {
    position: absolute;
    top: 0.11rem;
    left: 0.2rem;
    margin-right: 0.1rem;
    width: 0.26rem;
    height: 0.23rem;
}
.nav-content{
    display: flex;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
.nav-content .topLeft{
    padding-top: 0.26rem;
    font-weight: 600;
}
.right{
    text-align: center;
}
.nav-content .flex{
    margin-top: 0.2rem;
    flex: 1
}
.nav-boxone .nav-content-list{

    float: left;
    margin-top: 0.16rem;
    text-align: center;
}
.nav-boxone .nav-content-list:nth-last-of-type(1){
    margin-right:0rem;
}
.nav-boxtwo{

    margin-top: 0.16rem;
}
.list-desc{
    display: block;
    font-size: 0.26rem;
    color: #999;
    margin-bottom: 0.16rem;
}
.nav-content .nav-content-list:first-of-type{
    text-align: left;
}
.nav-content .nav-content-list:last-of-type{
    text-align: right;
}
.nav-content-list .list-desc:last-of-type{
    margin-bottom: 0;
}
.list-num{

    font-size: 0.24rem;
    color:#333;
    margin-left: 0.2rem;
}
#wrapper{
    padding-bottom: 1.2rem;
    width: 100%;
    position: relative;
    top: 2.3rem;
    left: 0;
}
/* 当前价格 */
.nowPrice{
    padding-right: 0.3rem;
    padding-top: 0.15rem;
}
.nowPrice .title{
    padding-top: 0.1rem;
    float: left;
    margin-left: 0.3rem;
    font-size: 0.26rem;
    color:#333;
}

/* 买入卖出 */
.payLeft{
    width: 100%;
}
.payLeft .leftTitle{
    display: flex;
    padding-left: 0.28rem;
}
.payLeft .leftTitle span{
    margin-top: 0.3rem;
    flex: 1;
    font-size: 0.24rem;
    color: #999;
    text-align: left;
}
.leftContent{
    margin-top: 0.2rem;
    width: 100%;
    background: #fafffd;
}
.leftContent .list-content{
    padding-left: 0.28rem;
    height: 0.44rem;
    line-height: 0.44rem;
    display: flex;
}
.leftContent .list-content span{
    flex: 1;
    font-size: 0.24rem;
    color: #333;
    text-align: left;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding-right:0.24rem;
}
.leftContent .list-content span:first-of-type{
    color: #00be97;
}
.payRight{
    width: 100%;
}
.payRight .rightTitle{
    display: flex;

    padding-left: 0.28rem;
}
.payRight .rightTitle span{
    margin-top: 0.3rem;
    flex: 1;
    font-size: 0.24rem;
    color: #999;
    text-align: left;
}
.rightContent{
    margin-top: 0.1rem;
    width: 100%;
    background: #fffaf7;
}
.rightContent .list-content{
    padding-left: 0.28rem;
    height: 0.44rem;
    line-height: 0.44rem;
    display: flex;
    text-align: left
}
.rightContent .list-content span{
    flex: 1;
    font-size: 0.24rem;
    color: #333;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding-right:0.24rem;
}
.rightContent .list-content span:first-of-type{
    color: #e83a33;
}

/* 买入卖出委托记录 */
.main{
    padding: 0.3rem 0.3rem;
}
.mainTitle li{
    float: left;
    font-size: 0.3rem;
    margin-right: 0.64rem;
}
.mainTitle li:nth-of-type(1){
    color: #e83a33;
}
.mainTitle li:nth-of-type(2){
    color: #00be97;
}
.mainTitle li:nth-of-type(3){
    color: #333;
}
.mainTitle .borderBuy{
    margin: 0 auto;
    width: 0.2rem;
    height: 0.04rem;
    background: #e83a33;
}
.mainTitle .borderSell{
    margin: 0 auto;
    width: 0.2rem;
    height: 0.04rem;
    background: #00be97;
    display: none;
}
.mainTitle .borderEntrust{
    margin: 0 auto;
    width: 0.2rem;
    height: 0.04rem;
    background: #333;
    display: none;
}
.buy{
    padding: 0 0.3rem 0 0.3rem;
    display: block;
}
.sell{
    padding: 0 0.3rem 0 0.3rem;
    display: none;
}
.entrust{
    padding: 0 0.3rem 0 0.3rem;
    display: none;
    margin-bottom: 1rem;
}


/* 买入 */
.mainContent-priceBuy{
    margin-bottom: 0.2rem;
    width: 100%;
    height: 0.7rem;
    border: 1px solid #e7e7e7;
}

.mainContent input{
    display: inline-block;
    padding-left: 1.06rem;
    width: 50%;
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 0.24rem;
    color:#666;
}
.mainContent-numBuy{
    margin-bottom: 0.1rem;
    width: 100%;
    height: 0.7rem;
    line-height: 0.7rem;
    border: 1px solid #e7e7e7;
}
.maxNum{
    font-size: 0.22rem;
    color: #999;
}
.mainContent-passwordBuy{
    margin-top: 0.1rem;
    width: 100%;
    height: 0.7rem;
    line-height: 0.7rem;
    border: 1px solid #e7e7e7;
}

/* 卖出 */
.mainButtonBuy{
    margin-top: 0.3rem;
    width: 100%;
    height: 0.7rem;
    line-height: 0.7rem;
    background: #e83a33;
    color: #fff;
    font-size: 0.34rem;
    text-align: center;
}
.mainContent-priceSell{
    margin-bottom: 0.2rem;
    width: 100%;
    height: 0.7rem;
    border: 1px solid #e7e7e7;
}
.mainContent input{
    display: block;
    float: left;
    padding-left: 0.62rem;
    width: 50%;
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 0.24rem;
    color:#666;

}
.name{
    width: 1rem;
    float: left;
    margin-left: 0.2rem;
    line-height: 0.7rem;
    font-size: 0.24rem;
    color: #666;
}
.setting{
    margin-left: 0;
    float: right;
    text-align: right;
    color: #999;
    line-height: 0.7rem;
    font-size: 0.24rem;
    padding-right: 0.2rem;
}
.mainContent-numSell{
    margin-bottom: 0.1rem;
    width: 100%;
    height: 0.7rem;
    line-height: 0.7rem;
    border: 1px solid #e7e7e7;
}
.maxNum{
    margin-top: 0.1rem;
    font-size: 0.22rem;
    color: #999;
}
.mainContent-passwordSell{
    margin-top: 0.1rem;
    width: 100%;
    height: 0.7rem;
    line-height: 0.7rem;
    border: 1px solid #e7e7e7;
}
.mainButtonSell{
    margin-top: 0.3rem;
    width: 100%;
    height: 0.7rem;
    line-height: 0.7rem;
    background: #00be97;
    color: #fff;
    font-size: 0.34rem;
    text-align: center;
}
.mainMoney{
    margin-top: .3rem;
}
.mainMoney-title{
    display: block;
    display: flex;
    font-size: 0.24rem;
    color: #666;
}
.mainMoney-title span{
    flex: 1;
}
.mainMoney-title span:nth-of-type(2){
    text-align: center;
}
.mainMoney-title span:nth-of-type(3){
    text-align: right;
}
.mainMoney-num{
    display: flex;
    font-size: 0.26rem;
    color: #333;
}
.mainMoney-num span{
    flex: 1;
}
.mainMoney-num span:nth-of-type(2){
    text-align: center;
}
.mainMoney-num span:nth-of-type(3){
    text-align: right;
}
/* 委托记录 */
.entrust-title{
    padding: 0 0.1rem 0 0.1rem;
    height: 0.7rem;
    line-height: 0.7rem;
    width: 98%;
    background: #f5f5f5;
}
.entrust-title li{
    width: 20%;
    float: left;
    font-size: 0.26rem;
    color: #999;
    text-align: center;
}
.entrust-title li:nth-of-type(1){
    text-align: left
}
.entrust-title li:nth-of-type(2){
    text-align: left
}
.entrust-title li:nth-of-type(4){
    text-align: right
}
.entrust-title li:nth-of-type(5){
    text-align: right
}
.entrust .entrust-content:last-of-type{
    border-bottom:  0
}
.entrust-content{
    padding: 0 0.1rem 0 0.1rem;
    width: 98%;
}
.entrust-content li{
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 0.24rem;
    color: #666;
    text-align: center;
    border-bottom:  1px solid #ececec;
}
.entrust-content li p{
    float: left;
    text-align: left;
    width: 20%;
}
.entrust-content li:last-of-type{
    border-bottom: 0
}
.entrust-content li p:nth-of-type(3){
    text-align: center;
}
.entrust-content li p:nth-of-type(4){
    text-align: center;
}
.entrust-content li p:nth-of-type(5){
    text-align: right;
    color: #68adfa;
}
.green{
    color: #00be97;
}
.red{
    color: #e83a33
}


/* 选择币种 */
.choseBz{
    width: 100%;
    background: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.closeAnthoer{
    width: 20%;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 99;
}
.choseBzBox{
    position: absolute;
    left: -82%;
    top: 0;
    display: none;
    width: 82%;
    /* height: 100%; */
    background: #fff;
    z-index: 100;
    overflow-y: scroll;
}
.choseBzBox-title{
    width: 100%;
    height: 0.9rem;
    background: #fff;
    border-bottom: 1px solid #ececec;
}
.choseBzBox-title p{
    margin-left: 0.3rem;
    font-size: 0.34rem;
    color: #666;
    font-weight: 600;
    float: left;
    line-height: 0.9rem;
}
.choseBzBox-title img{
    margin-right: 0.3rem;
    margin-top: 0.25rem;
    float: right;
    width: 0.34rem;
    height: 0.3rem;
}
.choseBzBox-content{
    padding: 0.3rem;
    height: 83%;
    overflow: hidden;
    overflow-y: scroll;
}
.choseBzBox-content ul li{
    display: flex;
    padding-bottom: 0.4rem;
}
.choseBzBox-content ul li p{
    flex: 1;
    font-size: 0.26rem;
    font-weight: 600;
}
.zhang{
    color: #e83a33
}
.die{
    color: #00be97
}
.choseBzBox-content ul li p:nth-of-type(1){
    color: #999;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.choseBzBox-content ul li p:nth-of-type(2){
    text-align: center;

}
.choseBzBox-content ul li p:nth-of-type(3){
    text-align: right;

}
/* 弹窗撤销 */
.bg{
    width: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
}
.cin{
    width: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    display: none;
}
.mask{
    width: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    display: none;
}
.maskSell{
    width: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    display: none;
}
.showBox{
    border-radius: 2px;
    width: 5.64rem;
    height: 2.7rem;
    position: fixed;
    left: 50%;
    margin-left: -2.82rem;
    top: 50%;
    margin-top: -1.35rem;
    display: none;
    z-index: 100;
    opacity: 0;
    background: #fff;
}
.showBoxTitle{
    text-align: center;
    widows: 100%;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.32rem;
    color: #000;
}
.showBoxContent{
    padding-left: 0.3rem;
    font-size: 0.28rem;
    color: #666;
}
.showBoxButton{
    margin-top: 0.4rem;
    height: 0.9rem;
    display: flex;
}
.showBoxButton div{
    flex: 1;
    font-size: 0.32rem;
    line-height: 0.9rem;
    text-align: center;
    color: #999;
    border-top: 1px solid #d9d9d9;
    border-right:1px solid #d9d9d9;
}
.showBoxButton div:nth-of-type(2){
    color: #e83a33;
    border-right:0;
}
.settingBox{
    border-radius: 2px;
    width: 5.64rem;
    position: fixed;
    left: 50%;
    margin-left: -2.82rem;
    top: 45%;
    margin-top: -2rem;
    z-index: 100;
    opacity: 1;
    display: block;
    background: #fff;
}
.settingTitle{
    text-align: center;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.32rem;
    color: #000;
    border-bottom: 1px solid #ececec;
}
.settingContent{
    padding: 0rem 0.3rem 0.36rem 0.3rem;
    font-size: 0.28rem;
    color: #333;
}
.settingContent label{
    float: left;
    width: 100%;
    padding-top: 0.2rem;
}
.settingContent label:nth-of-type(2){
    margin-bottom: 0.24rem;
}
.settingContent .pas{
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 0.24rem;
    color: #666;
    width: 65%;
    margin-left: 0.2rem;
    border: 1px solid #ececec;
    padding-left: 0.2rem;
}
.choose{
    margin-right: 0.1rem;
}
.settingButton{
    display: flex;
}
.settingButton div{
    flex: 1;
    font-size: 0.32rem;
    line-height: 0.9rem;
    text-align: center;
    color: #999;
    border-top: 1px solid #ececec;
    border-right:1px solid #ececec;
}
.settingButton div:nth-of-type(2){
    color: #e83a33;
    border-right:0;
}
.maskBox{
    border-radius: 2px;
    width: 5.64rem;
    position: fixed;
    left: 50%;
    margin-left: -2.82rem;
    top: 45%;
    margin-top: -2rem;
    z-index: 100;
    opacity: 1;
    display: block;
    background: #fff;
}
.maskBoxTitle{
    font-size: 0.32rem;
    color: #000;
    height: 1.02rem;
    line-height: 1.02rem;
    text-align: center
}
.maskBoxContent p{
    padding-left: 0.32rem;
    margin-bottom: 0.3rem;
    color: #888;
    font-size: 0.24rem;
}
.maskBoxContent span{
    display: inline-block;
    width: 1.5rem;
    color: #666;
    font-size: 0.24rem;
}
.maskBoxButton{
    margin-top: 0.4rem;
    height: 0.9rem;
    display: flex;
}
.maskBoxButton div{
    flex: 1;
    font-size: 0.32rem;
    line-height: 0.9rem;
    text-align: center;
    color: #999;
    border-top: 1px solid #d9d9d9;
    border-right:1px solid #d9d9d9;
}
.maskBoxButton div:nth-of-type(2){
    color: #e83a33;
    border-right:0;
}


.maskSellBox{
    border-radius: 2px;
    width: 5.64rem;
    position: fixed;
    left: 50%;
    margin-left: -2.82rem;
    top: 45%;
    margin-top: -2rem;
    z-index: 100;
    opacity: 1;
    display: block;
    background: #fff;
}
.maskSellBoxTitle{
    font-size: 0.32rem;
    color: #000;
    height: 1.02rem;
    line-height: 1.02rem;
    text-align: center
}
.maskSellBoxContent p{
    padding-left: 0.32rem;
    margin-bottom: 0.3rem;
    color: #888;
    font-size: 0.24rem;
}
.maskSellBoxContent span{
    display: inline-block;
    width: 1.5rem;
    color: #666;
    font-size: 0.24rem;
}
.maskSellBoxButton{
    margin-top: 0.4rem;
    height: 0.9rem;
    display: flex;
}
.maskSellBoxButton div{
    flex: 1;
    font-size: 0.32rem;
    line-height: 0.9rem;
    text-align: center;
    color: #999;
    border-top: 1px solid #d9d9d9;
    border-right:1px solid #d9d9d9;
}
.maskSellBoxButton div:nth-of-type(2){
    color: #e83a33;
    border-right:0;
}