/* 头部导航 */
header .change{
    position: absolute;
    right: 0.3rem;
    top: 0.24rem;
    font-size: 0.28rem;
    color: #68adfa;
}
/* 内容区域 */
.wrapper{
    width: 92%;
    margin: 0 auto;
    margin-top: 0.91rem;
}
.list-box{
    width: 100%;
    height: 0.88rem;
    border-bottom: 1px solid #ececec;
}
.list-box p{
    float: left;
    line-height: 0.88rem;
    font-size: 0.3rem;
    color: #666;
}
.list-box span{
    float: right;
    line-height: 0.88rem;
    font-size: 0.3rem;
    font-weight: 600;
}
.smz{
    color: #e83a33;
}
.dsm{
    color: #68adfa;
    display: none
}
.jzsm{
    color: #999;
    display: none
}
.mark-list{
    width: 100%;
    border-bottom: 1px solid #ececec;
    padding-bottom: 0.28rem;
    padding-top: 0.28rem;
}
.mark-list p{
    float: left;
    font-size: 0.3rem;
    color: #666;
}
.mark-list .remark{
    margin-bottom: 0.2rem;
    width: 80%;
    vertical-align: top;
    text-align: right;
    float: right;
    font-size: 0.3rem;
    outline:none;
    border: 0;
    padding: 0;
    resize: none;
    color: #999
}
.clear{
    margin-bottom: 0.2rem;
    font-size: 0.3rem;
    color: #999
}
.list-box .text{
    float: right;
    line-height: 0.88rem;
    font-size: 0.3rem;
    color: #666;
    text-align: right;
    background: #fff;
    border: 0;
}
.list-box select{
    -moz-appearance:none;
    -webkit-appearance:none;
    height: 0.88rem;
    float: right;
    line-height: 0.88rem;
    font-size: 0.3rem;
    color: #666;
    text-align: right;
    background: #fff;
    border: 0;
}
.idcard-box{
    width: 100%;
    position: relative;
}
.idcard-box .title {
    line-height: 0.88rem;
    font-size: 0.3rem;
    color: #666;
}
.icardone{
    position: absolute;
    left: 0;
    z-index: 10;
    top: 0.88rem;
    opacity: 0;
    width: 3.34rem;
    height: 2.08rem;
}
.autor{
    position: absolute;
    left: 0;
    top: 0.9rem;
    width: 3.34rem;
    height: 2.08rem;
    border: 0;
}
.icardtwo{
    position: absolute;
    right: 0;
    z-index: 10;
    top: 0.9rem;
    opacity: 0;
    width: 3.34rem;
    height: 2.08rem;
}
#blahtwo{
    position: absolute;
    right: 0;
    top: 0.88rem;
    width: 3.34rem;
    height: 2.08rem;
}
.autor img,.blahtwo img{
    width: 3.34rem;
    height: 2.08rem;
    object-fit:cover;
}