body{
    background: #f5f5f5;
}
header .backimg{
    position: absolute;
    top: 0.28rem;
    left: 0.3rem;
    width: 0.19rem;
    height: 0.35rem;
}
.wrapper{
    margin-top: 1.11rem;
    background: #fff;   
    border-bottom:1px solid #ececec; 
}
.content{
    height: 1rem;
    line-height: 1rem;
    font-size: 0.3rem;
    color: #333;
    border-top:1px solid #ececec;
    
}
.content p{
    margin-left:0.3rem;
    float: left;
}
.content img{
    width:0.14rem;
    height: 0.24rem;
    float: right;
    margin-right: 0.3rem;
    margin-top: 0.34rem;
}