body{
    background-color: #f5f5f5;
}

main{
    margin-bottom: 1.3rem;
}
.list-bar{
    margin-top: 0.9rem;
    border: 1px solid transparent;
}

.list-bar .item{
    margin-top: 0.2rem;
    display: flex;
    flex-direction: column;
    padding: 0 0.3rem;
    box-sizing: border-box;
    height: 3.05rem;
    background-color: #fff;
}

.list-bar .item .item-header{
    height: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ededed;
}

.list-bar .item .item-header .left-content{
    color: #35394f;
    font-size: 0.32rem;
    margin-right: 0.28rem;
    display: flex;
    align-items: center;
}

.list-bar .item .item-header .left-content div:first-child{
    font-size: 0.32rem;
    color: #35394f;
    margin-right: 0.2rem;
}

.list-bar .item .item-header .left-content div:last-child{
    border-radius: 0.04rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0.7rem;
    height: 0.35rem;
    font-size: 0.24rem;
    /*line-height: 0.35rem;*/
}

.list-bar .item .item-header .left-content .buy{
    background-color: #ffe6ea;
    border: 1px solid #f62f4b;
    color: #f62f4b;
}

.list-bar .item .item-header .left-content .sell{
    background-color: #e0ffe9;
    border: 1px solid #51ba70;
    color: #51ba70;
}

.list-bar .item .item-header .right-content{
    width: 1.2rem;
    height: 0.45rem;
    border-radius: 0.23rem;
    color: #68adfa;
    font-size: 0.26rem;
    display: flex;
    border: 1px solid #68adfa;
    align-items: center;
    justify-content: center;
    /*line-height: 0.45rem;*/
}

.list-bar .item .item-content{
    display: flex;
    flex-direction: column;
    padding: 0.2rem 0 0.3rem 0;
    box-sizing: border-box;
}

.list-bar .item .item-content .label{
    width: 100%;
    display: flex;
}

.list-bar .item .item-content .label span{
    display: block;
    width: 50%;
    text-align: left;
    color: #7f858c;
    font-size: 0.26rem;
    line-height: 0.26rem;
}

.list-bar .item .item-content .text{
    width: 100%;
    display: flex;
    margin-top: 0.2rem;
}

.list-bar .item .item-content .text span{
    width: 50%;
    text-align: left;
    color: #35394f;
    font-size: 0.3rem;
    line-height: 0.3rem;
}

.see-more{
    font-size: 0.28rem;
    color: #a3aab3;
    line-height: 0.28rem;
    width: 1.5rem;
    margin: 0.28rem auto 0 auto;
}