.add{
    margin-left: 15px !important;
}
.askSelect{
    width: 100px;
}
.askInput{
    width: 150px;
}
.askTime{
    width: 160px;
}
.number{
    width: 130px;
}
.time{
    width: 120px;
}
.coin{
    width: 80px;
}
.type{
    width: 35px;
}
.amount{
    width: 130px;
}
.state{
    width: 57px;
}
.account{
    width: 126px;
}
.ip{
    width: 90px;
}
.operate{
    width: 98px;
}
.delete{
    margin-left: 5px;
    width: 35px;
    text-align: center;
    border: none;
    color: #49a2fb;
    background-color: transparent;
    cursor: pointer;
    font-size: 12px;
}
.details{
    text-align: center;
    border: none;
    color: #49a2fb;
    background-color: transparent;
    cursor: pointer;
    font-size: 12px;
}
.details:hover,.delete:hover{
    color: #2c94fd;
}


.delete_pop{
    display: none;
}