.add{
    margin-left: 15px;
}
.askSelect{
    width: 120px;
}
.askInput,.askTime{
    width: 150px;
}
.time{
    width: 180px;
}
.coin{
    width: 130px;
}
.amount{
    width: 147px;
}
.account{
    width: 190px;
}
.ip{
    width: 150px;
}
.operate{
    width: 100px;
}
.delete{
    width: 40px;
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 12px;
    color: #49a2fb;
}
.delete:hover{
    color: #2c94fd;
}

.delete_pop,.add_pop{
    display: none;
}
.popName{
    display: inline-block;
    width: 70px;
    height: 35px;
    line-height: 35px;
    text-align: left;
    color: #666666;
    font-size: 14px;
}
.star{
    color: #ff0000;
}
.entry{
    float: right;
    padding-left: 5px !important;
    border: 1px solid #ececec !important;
    width: 279px;
    height: 35px !important;
    border-radius: 0 !important;
}
.popSelected{
    float: right;
    padding-left: 5px;
    border: 1px solid #ececec;
    width: 285px;
    height: 35px;
}