.add{
    margin-left: 15px;
}
.askSelect{
    width: 120px;
}
.askInput,.askTime{
    width: 150px;
}
.time{
    width: 140px;
}
.coin{
    width: 145px;
}
.coinLogo{
    width: 60px;
}
.coinLogo img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.service{
    width: 130px;
}
.state{
    width: 60px;
}
.account{
    width: 198px;
}
.tableInfo .account,.tableInfo .coin{
    text-align: left;
}
.operate{
    width: 160px;
}
.tableInfo .operate{
    text-align: left;
}
.stop{
    margin-right: 5px;
    width: 40px;
    text-align: center;
    border: none;
    color: #ff0000;
    background-color: transparent;
    cursor: pointer;
    font-size: 12px;
}
.stop:hover{
    opacity: 0.8;
}
.start{
    margin-right: 5px;
    width: 40px;
    text-align: center;
    border: none;
    color: #00CC00;
    background-color: transparent;
    cursor: pointer;
    font-size: 12px;
}
.start:hover{
    opacity: 0.8;
}
.adUp,.adDown,.toTop{
    margin-bottom: 5px;
    margin-right: 5px;
    width: 40px;
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 12px;
    color: #49a2fb;
}
.adUp:hover,.adDown:hover,.toTop:hover{
    color: #2c94fd;
}
.change,.online,.offLine{
    margin-right: 5px;
    width: 40px;
    text-align: center;
    border: none;
    color: #ff9a3b;
    background-color: transparent;
    cursor: pointer;
    font-size: 12px;
}
.change:hover,.online:hover,.offLine:hover{
    color: #ff9a3b;
}

.stop_pop,.start_pop,.add_pop,.change_pop,.online_pop,.offLine_pop{
    display: none;
}
.popMain{
    height: 240px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.popName{
    display: inline-block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: left;
    color: #666666;
    font-size: 14px;
}
.star{
    color: #ff0000;
}
.entry{
    float: right;
    padding-left: 5px !important;
    border: 1px solid #ececec !important;
    width: 249px;
    height: 35px !important;
    border-radius: 0 !important;
}
.percentage{
    margin-right: 5px;
    padding-left: 5px;
    border: 1px solid #ececec;
    width: 230px;
    height: 35px;
}
.popPic{
    position: relative;
    float: right;
    border: 1px solid #ececec;
    width: 254px;
    height: 35px;
    text-align: left;
}
.choosePic{
    float: left;
    padding-left: 5px;
    width: 155px;
    border: none;
    height: 34px;
}
.file{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 70px;
    height: 35px;
}
.choose_button{
    float: right;
    width: 85px;
    text-align: center;
    color: #ffffff;
    border: none;
    height: 35px;
    background-color: #49a2fb;
    cursor: pointer;
}
.choose_button:hover{
    background-color: #2c94fd;
}
.immediately{
    font-size: 12px;
    color: #333333;
}
.radioBtn{
    width: 13px;
    height: 13px;
    margin-right: 3px;
    margin-top: -3px;
    vertical-align: sub;
}
.chooseTime{
    padding-left: 5px;
    border: 1px solid #ececec !important;
    width: 135px !important;
    height: 35px !important;
}
.timeManage{
    margin-left: 20px;
}