.askSelect{
    width: 100px;
}
.askInput{
    width: 150px;
}
.askTime{
    width: 160px;
}
.time{
    width: 149px;
}
.account{
    width: 150px;
}
.coin{
    width: 100px;
}
.entrust{
    width: 171px;
}
.tableInfo .entrust{
    text-align: left;
}
.amount{
    width: 146px;
}
.type,.state{
    width: 70px;
}
.operate{
    width: 85px;
}
.revoke{
    margin-left: 5px;
    width: 55px;
    text-align: center;
    border: none;
    color: #49a2fb;
    background-color: transparent;
    cursor: pointer;
    font-size: 12px;
}
.revoke:hover{
    color: #2c94fd;
}

.revoke_pop{
    display: none;
}