.add{
    margin-left: 15px !important;
}
.askInput{
    width: 180px;
}
.time{
    width: 180px;
}
.pic{
    width: 70px;
}
.pic img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.type{
    width: 200px;
}
.nTitle{
    width: 386px;
    word-break: break-all;
}
.operate{
    width: 295px;
}
.tableInfo .operate{
    text-align: right;
}
.adUp,.adDown,.change,.delete,.toTop,.details{
    margin-right: 5px;
    width: 40px;
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 12px;
    color: #49a2fb;
}
.adUp:hover,.adDown:hover,.change:hover,.delete:hover,.toTop:hover,.details:hover{
    color: #2c94fd;
}

.delete_pop{
    display: none;
}