.askSelect{
    width: 100px;
}
.askInput{
    width: 150px;
}
.askTime{
    width: 160px;
}
.order{
    width: 163px;
}
.time{
    width: 153px;
}
.account{
    width: 240px;
}
.type{
    width: 150px;
}
.money{
    width: 200px;
}
.state{
    width: 88px;
}